Employee

In [1]:
import pandas as pd

data = {
    "empn": [101, 102, 103, 104, 105, 106],
    "Name": ["Mina", "Raju", "Rupa", "Shakib", "Rup", "Tania"],
    "Age": [25, 30, 28, 35, 27, 29],
    "Department": ["HR", "IT", "Finance", "IT", "Marketing", "HR"],
    "City": ["Dhaka", "Khulna", "Rajshahi", "Dhaka", "Chittagong", "Kushtia"],
    "Salary": [45000, 60000, 52000, 75000, 48000, 50000]
}

df = pd.DataFrame(data)
print(df)

   empn    Name  Age Department        City  Salary
0   101    Mina   25         HR       Dhaka   45000
1   102    Raju   30         IT      Khulna   60000
2   103    Rupa   28    Finance    Rajshahi   52000
3   104  Shakib   35         IT       Dhaka   75000
4   105     Rup   27  Marketing  Chittagong   48000
5   106   Tania   29         HR     Kushtia   50000

In [3]:
df.head()   #first 5 row

   empn    Name  Age Department        City  Salary
0   101    Mina   25         HR       Dhaka   45000
1   102    Raju   30         IT      Khulna   60000
2   103    Rupa   28    Finance    Rajshahi   52000
3   104  Shakib   35         IT       Dhaka   75000
4   105     Rup   27  Marketing  Chittagong   48000

In [4]:
df.tail()

   empn    Name  Age Department        City  Salary
1   102    Raju   30         IT      Khulna   60000
2   103    Rupa   28    Finance    Rajshahi   52000
3   104  Shakib   35         IT       Dhaka   75000
4   105     Rup   27  Marketing  Chittagong   48000
5   106   Tania   29         HR     Kushtia   50000

In [7]:
df.shape #(r,c)

(6, 6)

In [8]:
df.columns

Index(['empn', 'Name', 'Age', 'Department', 'City', 'Salary'], dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
df.info

<bound method DataFrame.info of    empn    Name  Age Department        City  Salary
0   101    Mina   25         HR       Dhaka   45000
1   102    Raju   30         IT      Khulna   60000
2   103    Rupa   28    Finance    Rajshahi   52000
3   104  Shakib   35         IT       Dhaka   75000
4   105     Rup   27  Marketing  Chittagong   48000
5   106   Tania   29         HR     Kushtia   50000>

Select Columns

In [13]:

df[["Name","Salary"]]

     Name  Salary
0    Mina   45000
1    Raju   60000
2    Rupa   52000
3  Shakib   75000
4     Rup   48000
5   Tania   50000

**Select Rows**

In [14]:
df.iloc[0:3]

   empn  Name  Age Department      City  Salary
0   101  Mina   25         HR     Dhaka   45000
1   102  Raju   30         IT    Khulna   60000
2   103  Rupa   28    Finance  Rajshahi   52000

In [15]:
df.loc[0]

empn            101
Name           Mina
Age              25
Department       HR
City          Dhaka
Salary        45000
Name: 0, dtype: object

In [16]:
df.iloc[0]

empn            101
Name           Mina
Age              25
Department       HR
City          Dhaka
Salary        45000
Name: 0, dtype: object

Filtering

In [17]:
df[(df["Age"] > 27) & (df["City"] == "Dhaka")]

   empn    Name  Age Department   City  Salary
3   104  Shakib   35         IT  Dhaka   75000

Add Column

In [18]:
df["Bonus"] = df["Salary"] * 0.10

In [19]:
df

   empn    Name  Age Department        City  Salary   Bonus
0   101    Mina   25         HR       Dhaka   45000  4500.0
1   102    Raju   30         IT      Khulna   60000  6000.0
2   103    Rupa   28    Finance    Rajshahi   52000  5200.0
3   104  Shakib   35         IT       Dhaka   75000  7500.0
4   105     Rup   27  Marketing  Chittagong   48000  4800.0
5   106   Tania   29         HR     Kushtia   50000  5000.0

In [20]:
df["Age"] = df["Age"] + 1

In [21]:
df

   empn    Name  Age Department        City  Salary   Bonus
0   101    Mina   26         HR       Dhaka   45000  4500.0
1   102    Raju   31         IT      Khulna   60000  6000.0
2   103    Rupa   29    Finance    Rajshahi   52000  5200.0
3   104  Shakib   36         IT       Dhaka   75000  7500.0
4   105     Rup   28  Marketing  Chittagong   48000  4800.0
5   106   Tania   30         HR     Kushtia   50000  5000.0

In [22]:
df.sort_values("Salary")
df.sort_values("Salary", ascending=False)

   empn    Name  Age Department        City  Salary   Bonus
3   104  Shakib   36         IT       Dhaka   75000  7500.0
1   102    Raju   31         IT      Khulna   60000  6000.0
2   103    Rupa   29    Finance    Rajshahi   52000  5200.0
5   106   Tania   30         HR     Kushtia   50000  5000.0
4   105     Rup   28  Marketing  Chittagong   48000  4800.0
0   101    Mina   26         HR       Dhaka   45000  4500.0

In [23]:
df["Salary"].value_counts()

Salary
45000    1
60000    1
52000    1
75000    1
48000    1
50000    1
Name: count, dtype: int64

In [24]:
df["Salary"].mean()

np.float64(55000.0)

In [25]:
df["Salary"].sum()

np.int64(330000)

In [26]:
df["Salary"].min()

45000

In [27]:
df.groupby("Department").sum()

            empn        Name  Age          City  Salary    Bonus
Department
Finance      103        Rupa   29      Rajshahi   52000   5200.0
HR           207   MinaTania   56  DhakaKushtia   95000   9500.0
IT           206  RajuShakib   67   KhulnaDhaka  135000  13500.0
Marketing    105         Rup   28    Chittagong   48000   4800.0

In [28]:
df.groupby("Department")["Salary"].mean()

Department
Finance      52000.0
HR           47500.0
IT           67500.0
Marketing    48000.0
Name: Salary, dtype: float64

In [29]:
df.loc[df["Salary"].idxmin()]

empn             101
Name            Mina
Age               26
Department        HR
City           Dhaka
Salary         45000
Bonus         4500.0
Name: 0, dtype: object

In [30]:
df.rename(columns={"Salary": "Income"})

   empn    Name  Age Department        City  Income   Bonus
0   101    Mina   26         HR       Dhaka   45000  4500.0
1   102    Raju   31         IT      Khulna   60000  6000.0
2   103    Rupa   29    Finance    Rajshahi   52000  5200.0
3   104  Shakib   36         IT       Dhaka   75000  7500.0
4   105     Rup   28  Marketing  Chittagong   48000  4800.0
5   106   Tania   30         HR     Kushtia   50000  5000.0

In [31]:
df["Salary"] = df["Salary"].apply(lambda x: x + 2000)

In [32]:
df

   empn    Name  Age Department        City  Salary   Bonus
0   101    Mina   26         HR       Dhaka   47000  4500.0
1   102    Raju   31         IT      Khulna   62000  6000.0
2   103    Rupa   29    Finance    Rajshahi   54000  5200.0
3   104  Shakib   36         IT       Dhaka   77000  7500.0
4   105     Rup   28  Marketing  Chittagong   50000  4800.0
5   106   Tania   30         HR     Kushtia   52000  5000.0

In [33]:
df2 = pd.DataFrame({
    "empn": [101, 102, 103],
    "Experience": [2, 5, 3]
})

pd.merge(df, df2, on="empn")

   empn  Name  Age Department      City  Salary   Bonus  Experience
0   101  Mina   26         HR     Dhaka   47000  4500.0           2
1   102  Raju   31         IT    Khulna   62000  6000.0           5
2   103  Rupa   29    Finance  Rajshahi   54000  5200.0           3

In [34]:
pd.concat([df, df])

   empn    Name  Age Department        City  Salary   Bonus
0   101    Mina   26         HR       Dhaka   47000  4500.0
1   102    Raju   31         IT      Khulna   62000  6000.0
2   103    Rupa   29    Finance    Rajshahi   54000  5200.0
3   104  Shakib   36         IT       Dhaka   77000  7500.0
4   105     Rup   28  Marketing  Chittagong   50000  4800.0
5   106   Tania   30         HR     Kushtia   52000  5000.0
0   101    Mina   26         HR       Dhaka   47000  4500.0
1   102    Raju   31         IT      Khulna   62000  6000.0
2   103    Rupa   29    Finance    Rajshahi   54000  5200.0
3   104  Shakib   36         IT       Dhaka   77000  7500.0
4   105     Rup   28  Marketing  Chittagong   50000  4800.0
5   106   Tania   30         HR     Kushtia   52000  5000.0

In [35]:
df.groupby("Department")["Salary"].agg(["mean", "max", "min"])

               mean    max    min
Department
Finance     54000.0  54000  54000
HR          49500.0  52000  47000
IT          69500.0  77000  62000
Marketing   50000.0  50000  50000

In [36]:
df["JoinDate"] = pd.to_datetime(["2022-01-10","2021-05-12","2020-03-01",
                                 "2019-07-21","2023-02-14","2022-11-11"])

df["Year"] = df["JoinDate"].dt.year

In [37]:
df

   empn    Name  Age Department        City  Salary   Bonus   JoinDate  Year
0   101    Mina   26         HR       Dhaka   47000  4500.0 2022-01-10  2022
1   102    Raju   31         IT      Khulna   62000  6000.0 2021-05-12  2021
2   103    Rupa   29    Finance    Rajshahi   54000  5200.0 2020-03-01  2020
3   104  Shakib   36         IT       Dhaka   77000  7500.0 2019-07-21  2019
4   105     Rup   28  Marketing  Chittagong   50000  4800.0 2023-02-14  2023
5   106   Tania   30         HR     Kushtia   52000  5000.0 2022-11-11  2022

In [38]:
df.pivot_table(values="Salary",
               index="Department",
               columns="City",
               aggfunc="mean")

City        Chittagong    Dhaka   Khulna  Kushtia  Rajshahi
Department
Finance            NaN      NaN      NaN      NaN   54000.0
HR                 NaN  47000.0      NaN  52000.0       NaN
IT                 NaN  77000.0  62000.0      NaN       NaN
Marketing      50000.0      NaN      NaN      NaN       NaN

In [39]:
df.query("Salary > 50000 and Department == 'IT'")

   empn    Name  Age Department    City  Salary   Bonus   JoinDate  Year
1   102    Raju   31         IT  Khulna   62000  6000.0 2021-05-12  2021
3   104  Shakib   36         IT   Dhaka   77000  7500.0 2019-07-21  2019

In [40]:
df["Salary"] * 2

0     94000
1    124000
2    108000
3    154000
4    100000
5    104000
Name: Salary, dtype: int64

In [41]:
df["Bonus"] = df["Bonus"].astype(int)

In [42]:
df

   empn    Name  Age Department        City  Salary  Bonus   JoinDate  Year
0   101    Mina   26         HR       Dhaka   47000   4500 2022-01-10  2022
1   102    Raju   31         IT      Khulna   62000   6000 2021-05-12  2021
2   103    Rupa   29    Finance    Rajshahi   54000   5200 2020-03-01  2020
3   104  Shakib   36         IT       Dhaka   77000   7500 2019-07-21  2019
4   105     Rup   28  Marketing  Chittagong   50000   4800 2023-02-14  2023
5   106   Tania   30         HR     Kushtia   52000   5000 2022-11-11  2022