In [2]:
import numpy as np
import pandas as pd

dict={
    "Name":['Simi', 'Hafsa', 'Nafisa', 'Sadia'],
    "Mark":[90, 82, 85, 89],
    "City":['Rampura','Alamdanga','Comilla','Puran Dhaka']

}

In [3]:
df=pd.DataFrame(dict)

In [4]:
df

     Name  Mark         City
0    Simi    90      Rampura
1   Hafsa    82    Alamdanga
2  Nafisa    85      Comilla
3   Sadia    89  Puran Dhaka

In [5]:
df.to_csv('friend.csv')

In [6]:
df.to_csv('friends.csv', index=False)

In [6]:
df.head(2)

    Name  Mark       City
0   Simi    90    Rampura
1  Hafsa    82  Alamdanga

In [7]:
df.tail(2)

     Name  Mark         City
2  Nafisa    85      Comilla
3   Sadia    89  Puran Dhaka

In [8]:
df.describe()

            Mark
count   4.000000
mean   86.500000
std     3.696846
min    82.000000
25%    84.250000
50%    87.000000
75%    89.250000
max    90.000000

In [9]:
df["Name"]

0      Simi
1     Hafsa
2    Nafisa
3     Sadia
Name: Name, dtype: object

In [10]:
df[["Name", "Mark"]]

     Name  Mark
0    Simi    90
1   Hafsa    82
2  Nafisa    85
3   Sadia    89

In [12]:
df.loc[0]

Name       Simi
Mark         90
City    Rampura
Name: 0, dtype: object

In [13]:
df.iloc[1]

Name        Hafsa
Mark           82
City    Alamdanga
Name: 1, dtype: object

In [14]:
df[df["Mark"]>85]

    Name  Mark         City
0   Simi    90      Rampura
3  Sadia    89  Puran Dhaka

In [15]:
df[df["Mark"] > 85]["Name"]

0     Simi
3    Sadia
Name: Name, dtype: object

In [18]:
df["Pet"]=["No","NOOO","NOO","Cat"]

In [19]:
df

     Name  Mark         City   Pet
0    Simi    90      Rampura    No
1   Hafsa    82    Alamdanga  NOOO
2  Nafisa    85      Comilla   NOO
3   Sadia    89  Puran Dhaka   Cat

In [20]:
df["Mark"].mean()

np.float64(86.5)

In [21]:
df.sort_values("Mark")

     Name  Mark         City   Pet
1   Hafsa    82    Alamdanga  NOOO
2  Nafisa    85      Comilla   NOO
3   Sadia    89  Puran Dhaka   Cat
0    Simi    90      Rampura    No

In [24]:
df["City"].unique()

array(['Rampura', 'Alamdanga', 'Comilla', 'Puran Dhaka'], dtype=object)

In [25]:
df[df["Mark"]==df["Mark"].max()]

   Name  Mark     City Pet
0  Simi    90  Rampura  No

In [26]:
df[df['Mark']==df['Mark'].min()]

    Name  Mark       City   Pet
1  Hafsa    82  Alamdanga  NOOO

In [27]:
df.nlargest(2,'Mark')

    Name  Mark         City  Pet
0   Simi    90      Rampura   No
3  Sadia    89  Puran Dhaka  Cat