In [7]:
import numpy as np
import pandas as pd

dict={
    "Name":['Simi', 'Hafsa', 'Nafisa', 'Sadia'],
    "Mark":[90, 82, 85, 89],
    "City":['Rampura','Alamdanga','Comilla','Puran Dhaka']

}

In [8]:
df=pd.DataFrame(dict)

In [9]:
df

     Name  Mark         City
0    Simi    90      Rampura
1   Hafsa    82    Alamdanga
2  Nafisa    85      Comilla
3   Sadia    89  Puran Dhaka

In [10]:
df.to_csv('friend.csv')

In [11]:
df.to_csv('friends.csv', index=False)